@model IEnumerable<Garage2.Entities.Slot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*<li class="dropdown">
    <ul class="dropdown-menu">
        @foreach (Garage2.Entities.Vehicle vehicle in ViewBag.Vehicles)
        {
            <li>@Html.ActionLink(@vehicle.Manufacturer + " " + vehicle.Model, "Select", "vehicles", new { v_id = @vehicle.Id }, new { })</li>
        }
    </ul>
</li>*@

@Html.ActionLink("Lyubomir ", "ViewLyubomir", "Slots",
null, new { @class = "modal-link btn btn-success" })

@foreach(var vehicle in ViewBag.Vehicles)
{
    <p>@vehicle.Manufacturer  @vehicle.Model</p>
}


@foreach (var item in Model) {
    ViewBag.vehicleIcon = "square-o";
    if (item.Vehicle != null)
    {
        switch (item.Vehicle.VehicleType)
        {
            case Garage2.Entities.VehicleType.Bike:
                ViewBag.vehicleIcon = "motorcycle";
                break;
            case Garage2.Entities.VehicleType.Boat:
                ViewBag.vehicleIcon = "bathtub";
                break;
            case Garage2.Entities.VehicleType.Car:
                ViewBag.vehicleIcon = "automobile";
                break;
            default:
                ViewBag.vehicleIcon = "truck";
                break;
        }
    }

    <div class="slot">
        @*<a href="@Url.Action("Details", "Slots", new { id = item.Id })"><i class="fa fa-@ViewBag.vehicleIcon fa-5x"></i></a>*@
        <button class="SlotDetails"><i class="fa fa-@ViewBag.vehicleIcon fa-5x"></i></button>
        <div class="slotContent">
            <p>@item.PID @item.Location</p>
            @if (item.Vehicle != null)
            {
                <p>@item.Vehicle.Manufacturer @item.Vehicle.Model</p>
            }

            <p>@item.ParkTime</p>
        </div>

        <div class="slotBottom">
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />*@
            @if (item.Vehicle == null)
            {

                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Parkera <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (Garage2.Entities.Vehicle vehicle in ViewBag.Vehicles)
                        {
                            <li>
                                @Html.ActionLink(@vehicle.Manufacturer + @vehicle.Model, "Park", new { id = item.Id, v_id = vehicle.Id })
                            </li>
                        }
                    </ul>
                </div>

            }
            else
            {
                <button type="button" class="btn btn-default btn-danger">@Html.ActionLink("Unpark", "Unpark", new { id = item.Id })</button>

            }
        </div>

    </div>

    <div id="cleara"></div>

    
}
