@model IEnumerable<Garage2.Entities.Slot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    @Html.ActionLink("Create New", "Create")
    
</p>

@*<li class="dropdown">
    <ul class="dropdown-menu">
        @foreach (Garage2.Entities.Vehicle vehicle in ViewBag.Vehicles)
        {
            <li>@Html.ActionLink(@vehicle.Manufacturer + " " + vehicle.Model, "Select", "vehicles", new { v_id = @vehicle.Id }, new { })</li>
        }
    </ul>
</li>*@

@foreach(var vehicle in ViewBag.Vehicles)
{
    <p>@vehicle.Manufacturer  @vehicle.Model</p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Model)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @if(item.Vehicle == null)
            { 
                @Html.ActionLink("Park", "Park", new { id = item.Id, v_id = 2 })
            }
            else
            {
                @Html.ActionLink("Unpark", "Unpark", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
